@media only screen and (max-width: 1150px) {
    .app-container {
        width: 100%;
    }
}

@media only screen and (max-width: 900px) {
    .informations-container {
        margin: 1rem 0rem;
    }
    .bot-area {
        grid-template-columns: 1fr !important;
    }
    .bot-left-area {
        padding: 0 !important;
    }
    .bot-right-area {
        padding: 0 !important;
    }
    p, h3, span, input {
        font-size: smaller;
    }
    .search-area {
        width: 80%!important;
    }
}

@media only screen and (max-width: 340px) {
    .wind-humid-data {
        div {
            padding: 0rem 0.3rem 0rem !important;
        }
    }
}
